<footer class="p2pu-footer">

	<div class="container">
<center>
		<ul class="footer-social clearfix">
			<li><a target="_blank" href="https://twitter.com/evsynthacademy/"><i class="fa fa-twitter"></i></a>
			</li>
			<li>
				<a target="_blank" href="https://www.github.com/evsynthacademy/">
					<i class="fa fa-github"></i>
				</a>
			</li>
			<li>
				<a target="_blank" href="https://www.facebook.com/evsynthacademy/"
					<i class="fa fa-facebook"></i>
				</a>
			</li>
		</ul>

	</center>
</footer>

